ul {
  width: 100%;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

li {
  display: flex;
  padding: 25px 50px;
}

li img {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  max-height: 500px;
  margin-right: 50px;
}

section {
  padding: 25px;
  align-self: center;
  max-width: 900px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

section p {
  line-height: 35px;
  margin-top: 25px;
}

section h3 {
  text-decoration: underline;
  font-size: x-large;
}

.cover {
  margin: 0;
  padding: 0;
}

#b1 {
  background-color: rgba(157, 235, 158, 0.6);
  padding-top: 50px;
}
#b2 {
  background-color: rgba(255, 191, 117, 0.6);
}
#b3 {
  background-color: rgba(196, 170, 242, 0.6);
}
#b4 {
  background-color: rgba(167, 167, 181, 0.6);
}
#b5 {
  background-color: rgba(177, 204, 227, 0.6);
  padding-bottom: 50px;
}

#s1 {
  background-color: #cfecd0;
}
#s2 {
  background-color: #f8e2c9;
}
#s3 {
  background-color: #f0eafb;
}
#s4 {
  background-color: #f1f1f3;
}
#s5 {
  background-color: #e9f0f7;
}

#grad1 {
  background-image: linear-gradient(rgb(157, 235, 158), rgb(255, 191, 117));
}
#grad2 {
  background-image: linear-gradient(rgb(255, 191, 117), rgb(196, 170, 242));
}
#grad3 {
  background-image: linear-gradient(rgb(196, 170, 242), rgb(167, 167, 181));
}
#grad4 {
  background-image: linear-gradient(rgb(167, 167, 181), rgb(177, 204, 227));
}

footer {
  background-color: rgba(177, 204, 227, 0.8);
}

@media screen and (max-width: 980px) {
  li {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
  li img {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .cover {
    width: 100%;
    display: flex;
    justify-content: center
  }
}