h1 {
  margin-top: 100px;
  margin-left: 15%;
  background-color: white;
}

video {
  border: solid;
  border-width: 10px;
  border-radius: 5px;
  border-color: rgb(124, 124, 124);
}

#wikidiv {
  width: 100%;
  margin-top: 15px;
  background-color: rgb(233, 180, 117);
}

.background_image {
  opacity: 0.7;
}

footer {
  background-color: rgba(201, 201, 201, 0.6);
}

@media screen and (max-width: 800px) {
  h1 {
    padding-top: 100px;
  }
  #wikidiv {
    padding-left: 15px;
    padding-right: 20px;
  }
  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  video {
    width: 1000px;
  }
}
@media screen and (max-width: 900px) {
  video {
    width: 900px;
  }
}
@media screen and (max-width: 800px) {
  video {
    width: 800px;
  }
}
@media screen and (max-width: 700px) {
  video {
    width: 700px;
  }
}
@media screen and (max-width: 600px) {
  video {
    width: 600px;
  }
}
@media screen and (max-width: 500px) {
  video {
    width: 500px;
  }
}
@media screen and (max-width: 400px) {
  video {
    width: 400px;
  }
}