table {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
  align-self: center;
  border-color: #152a3b;
  border: solid;
  background-color: white;
}

th {
  font-size: xx-large;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #152a3b;
}

td {
  padding: 20px;
}

td p {
  margin: 0;
}

tr:nth-child(even) {
  background-color: #bfd7db;
}

.name {
  font-weight: bold;
  text-align: center;
}

.score {
  font-size: x-large;
  font-weight: bold;
  padding: 30px;
}

.background_image {
  opacity: 0.7;
}
